version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: natours-app-prod
    restart: unless-stopped
    ports:
      - '3000:3000'
    env_file:
      - .env
    environment:
      NODE_ENV: production
      PORT: ${PORT:-3000}
      DATABASE: ${DATABASE}
